body {
    box-sizing: border-box;
    color: white;
    background-color: rgba(0, 0, 0, 0.589);
}

#nav{
    opacity: 0.8;
}

h4 {
    text-align: center;    
    font-family: 'Dancing Script', oblique;
    font-size: 2.5em;
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;    
}

p, h2 {
    text-align: center;
}

.exp {
    text-align: left;
}

.icon {
    width: 40px;
    height: 30px;
}

.lang {
    font-family: 'Dancing Script', oblique;
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;    
}

.head1 {
    text-align: center;    
    font-family: 'Dancing Script', oblique;
    font-size: 4em;
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;
    transform: translate(-0.4em, 0em);
}

.head2 {
    text-align: center;    
    font-family: 'Dancing Script', oblique;
    font-size: 4em;
    color: black;
    text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;
    transform: translate(-0.4em, 0em);
}

.fa-envelope, .fa-linkedin-square, .fa-github {
    font-size: 50px;
}



#btn {
    background-color: black;
}

a {
    color: white;
}

.game, .conga, .calcon, .ecom {
    width: 150px;
    height: 130px;
}

.card-body {
    text-align: center;
}

.glow {
    font-family: 'Dancing Script', oblique;
    text-align: center;
    font-size: 3.5em;
    color: black;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}  

@-webkit-keyframes glow {
    from {
      text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #00000094, 0 0 50px #0000005e, 0 0 60px #00000015, 0 0 70px #00000000;
    }
}
 
@media only screen and (max-width:800px) {
    .right {
      width: 100%;
    }

    .head1 {
        text-align: center;    
        font-family: 'Dancing Script', oblique;
        font-size: 3em;
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;
        transform: translate(-1.4em, 0em);
    }

    .head2 {
        text-align: center;    
        font-family: 'Dancing Script', oblique;
        font-size: 3em;
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;
        transform: translate(-1.4em, 0em);
    }

    .fa-envelope, .fa-linkedin-square, .fa-github {
        font-size: 40px;
    }

    .game, .conga, .calcon, .ecom {
        width: 150px;
        height: 130px;
    }
}

@media screen and (max-width: 600px) {
    #img {
        display: none;
    }

    .head1 {
        text-align: center;    
        font-family: 'Dancing Script', oblique;
        font-size: 2.5em;
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;
        transform: translate(0.6em, 0em);
    }

    .head2 {
        text-align: center;    
        font-family: 'Dancing Script', oblique;
        font-size: 2.5em;
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;
        transform: translate(1.6em, 0em);
    }

    .fa-envelope, .fa-linkedin-square, .fa-github {
        font-size: 40px;
    }

    .game, .conga, .calcon, .ecom {
        width: 130px;
        height: 110px;
    }
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    #img {
        display: none;
    }

    .head1 {
        text-align: center;    
        font-family: 'Dancing Script', oblique;
        font-size: 2.5em;
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;
        transform: translate(-0.4em, 0em);
    }

    .head2 {
        text-align: center;    
        font-family: 'Dancing Script', oblique;
        font-size: 2.5em;
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;
        transform: translate(-0.4em, 0em);
    }

    .fa-envelope, .fa-linkedin-square, .fa-github {
        font-size: 40px;
    }

    .game, .conga, .calcon, .ecom {
        width: 110px;
        height: 90px;
    }
}

@media screen and (max-width: 320px) {
    #nav{
        opacity: 1;
    }

    #img {
        display: none;
    }

    .head1 {
        text-align: center;    
        font-family: 'Dancing Script', oblique;
        font-size: 2em;
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;
        transform: translate(-0.4em, 0em);
    }

    .head2 {
        text-align: center;    
        font-family: 'Dancing Script', oblique;
        font-size: 2em;
        color: black;
        text-shadow: 1px 1px 2px white, 0 0 25px #ffffff;
        transform: translate(-0.4em, 0em);
    }

    .fa-envelope, .fa-linkedin-square, .fa-github {
        font-size: 30px;
    }

    .game, .conga, .calcon, .ecom {
        width: 100px;
        height: 80px;
    }
}